<div class="max-w-4xl mx-auto p-6">
  <form [formGroup]="createOrUpdateServiceSeekerForm" (ngSubmit)="createOrUpdate()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="space-y-2">
        <label for="firstName">Naziv</label>
        <input pInputText formControlName="name" id="firstName" class="w-full"/>
      </div>

      <div class="space-y-2">
        <label for="email">Email</label>
        <input formControlName="email" pInputText id="email" class="w-full"/>
      </div>

      <div class="space-y-2">
        <label for="integeronly">Broj mobitela</label>
        <p-inputNumber styleClass="w-full" formControlName="phoneNumber" [useGrouping]="false" id="integeronly" class="w-full"></p-inputNumber>
      </div>

      <div class="space-y-2 -translate-y-2">
        <label for="category">Kategorija usluge</label>
        <p-select
          [filter]="true"
          filterBy="name"
          showClear="true"
          [options]="serviceCategories"
          formControlName="category"
          optionLabel="name"
          id="category"
          class="w-full"></p-select>
      </div>

      <div class="space-y-2 col-span-2">
        <label for="description">Opis usluge</label>
        <textarea
          formControlName="description"
          id="description"
          rows="5"
          pTextarea
          class="w-full">
        </textarea>
      </div>

      <div class="md:col-span-2">
        <label for="tags">Oznake</label>
        <app-tag-input
          [tags]="createOrUpdateServiceSeekerForm.get('tags')?.value"
          (tagsChange)="createOrUpdateServiceSeekerForm.get('tags')?.setValue($event)">
        </app-tag-input>
      </div>

    </div>
    <div class="mt-6">
      <app-map-input [formControl]="$any(createOrUpdateServiceSeekerForm.get('geoLocation'))"></app-map-input>
    </div>

    <div class="flex items-center justify-between mt-6">
      <button [disabled]="createOrUpdateServiceSeekerForm.invalid" type="submit" class="w-full flex items-center gap-2 justify-center bg-[#FF5722] hover:bg-[#ff8a50] rounded-md py-2 disabled:bg-opacity-40 disabled:hover:bg-opacity-50 disabled:cursor-not-allowed text-white">
        <i class="pi" [ngClass]="state === 'create' ? 'pi-plus' : 'pi-pencil'"></i>
        <span>{{ state === 'create' ? 'Objavi uslugu': 'Ažuriraj objavu' }}</span>
      </button>
    </div>
  </form>
</div>
