<div class="chat-container mx-auto w-[1200px]">
  <div class="user-list">
    <h3>Razgovori</h3>
    <ul>
      @for(participant of otherParticipants; track participant.id) {
      <li
        (click)="getSelectedUser(participant.id, participant.chatId)"
        [class.active]="selectedUser?.id === participant.id"
      >
        @if (participant.profilePhotoBase64) {
        <img
          [src]="'data:image/png;base64,' + participant.profilePhotoBase64"
          alt="{{ participant.firstName }}"
          class="user-icon"
        />
        } @else {
        <div
          class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center user-icon"
        >
          <i class="pi pi-user text-white"></i>
        </div>
        }
        <span>{{ participant.firstName }} {{ participant.lastName }}</span>
      </li>
      }
    </ul>
  </div>

  @if(selectedUser) {
  <div class="chat-view">
    <div class="chat-header">
      @if (selectedUser?.profilePhotoBase64) {
      <img
        [src]="'data:image/png;base64,' + selectedUser.profilePhotoBase64"
        alt="{{ selectedUser.firstName }}"
        (click)="openProfile(selectedUser.id)"
        class="user-icon"
      />
      } @else {
      <div
        (click)="openProfile(selectedUser.id)"
        class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center user-icon"
      >
        <i class="pi pi-user text-white"></i>
      </div>
      }
      <span class="user-name" (click)="openProfile(selectedUser.id)">{{
        selectedUser.firstName
      }}</span>
    </div>

    <div class="message-list">
      @for(message of messages; track $index) {
      <div
        class="message"
        [class.sent]="message.sender.id === user.id"
        [class.received]="message.sender.id !== user.id"
      >
        @if (message.sender?.profilePhotoBase64) {
        <img
          [src]="'data:image/png;base64,' + message.sender.profilePhotoBase64"
          alt="{{ message.sender.firstName }}"
          (click)="openProfile(message.sender.id)"
          class="message-icon"
        />
        } @else {
        <div
          (click)="openProfile(message.sender.id)"
          class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center message-icon"
        >
          <i class="pi pi-user text-white"></i>
        </div>
        }
        <div class="message-content">
          <p>{{ message.content }}</p>
          <span class="message-date">{{
            message.createdOn | date : "dd.MM.yyyy. HH:mm"
          }}</span>
        </div>
      </div>
      }
    </div>

    <div class="message-input">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Upišite poruku..."
      />
      <button (click)="sendMessage(selectedUser.chatId, newMessage)">
        Pošalji
      </button>
    </div>
  </div>
  }
</div>
