<div class="chat-container mx-auto w-[1200px]">
  <div class="user-list">
    <h3>Razgovori</h3>
    <ul>
      @for(participant of otherParticipants; track participant.id) {
      <li
        (click)="getSelectedUser(participant.id, participant.chatId)"
        [class.active]="selectedUser?.id === participant.id"
      >
        @if (participant.profilePhotoBase64) {
        <img
          [src]="'data:image/png;base64,' + participant.profilePhotoBase64"
          alt="{{ participant.firstName }}"
          class="user-icon"
        />
        } @else {
        <div
          class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center user-icon"
        >
          <i class="pi pi-user text-white"></i>
        </div>
        }
        <span>{{ participant.firstName }} {{ participant.lastName }}</span>
      </li>
      }
    </ul>
  </div>

  @if(selectedUser) {
  <div class="chat-view">
    <div class="chat-header">
      @if (selectedUser?.profilePhotoBase64) {
      <img
        [src]="'data:image/png;base64,' + selectedUser.profilePhotoBase64"
        alt="{{ selectedUser.firstName }}"
        (click)="openProfile(selectedUser.id)"
        class="user-icon"
      />
      } @else {
      <div
        (click)="openProfile(selectedUser.id)"
        class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center user-icon"
      >
        <i class="pi pi-user text-white"></i>
      </div>
      }
      <span class="user-name" (click)="openProfile(selectedUser.id)">{{
        selectedUser.firstName
      }}</span>
    </div>

    <div class="message-list" #messageList>
      @for(message of messages; track $index) {
      <div
        class="chat"
        [ngClass]="message.senderId === user.id ? 'chat-end' : 'chat-start'"
      >
        <div class="chat-image">
          @if (message.senderId === user.id) { @if (user?.profilePhotoBase64) {
          <img
            [src]="'data:image/png;base64,' + user.profilePhotoBase64"
            alt="{{ user.firstName }}"
            (click)="openProfile(user.id)"
            class="message-icon"
          />
          } @else {
          <div
            (click)="openProfile(user.id)"
            class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center message-icon"
          >
            <i class="pi pi-user text-white"></i>
          </div>
          } } @else { @if (selectedUser?.profilePhotoBase64) {
          <img
            [src]="'data:image/png;base64,' + selectedUser.profilePhotoBase64"
            alt="{{ selectedUser.firstName }}"
            (click)="openProfile(selectedUser.id)"
            class="message-icon"
          />
          } @else {
          <div
            (click)="openProfile(selectedUser.id)"
            class="w-12 h-12 rounded-full bg-[#FF5722] grid place-items-center message-icon"
          >
            <i class="pi pi-user text-white"></i>
          </div>
          } }
        </div>
        <div
          class="chat-header !bg-transparent !border-none !pb-1 flex items-center gap-2"
        >
          <time class="text-xs opacity-50">{{
            message.createdOn | date : "HH:mm, dd.MM.YYYY."
          }}</time>
        </div>
        <div
          class="chat-bubble"
          [ngClass]="message.senderId !== user.id ? 'bg-white text-[#333]' : ''"
        >
          {{ message.content }}
        </div>
      </div>
      }
    </div>

    <div class="message-input">
      <input
        class="rounded-md disabled:cursor-not-allowed"
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Upišite poruku..."
      />
      <button
        class="bg-[#ff5722] hover:bg-[#ff8a50] transition-colors cursor-pointer disabled:cursor-not-allowed text-white py-3 px-6 rounded-md disabled:bg-opacity-30 disabled:hover:bg-opacity-35"
        (click)="sendMessage(selectedUser.chatId, newMessage)"
      >
        @if (isLoading) {
        <span class="loading loading-spinner loading-md"></span>
        } @else { Pošalji }
      </button>
    </div>
  </div>
  }
</div>
