.profile-card {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  p {
    span {
      margin-right: 5px;
    }
  }
}

.edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-btn:hover {
  background-color: #ff8a50;
  box-shadow: 0 8px 15px rgba(139, 29, 42, 0.2);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.profile-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.profile-card a {
  text-decoration: none;
  font-weight: bold;
}

.message-btn {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.message-btn:hover {
  background-color: rgb(255, 138, 80);
  box-shadow: 0 8px 15px rgba(255, 138, 80, 0.2);
}

.section {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  h4 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  align-self: flex-start;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.stat {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px 12px;
  flex: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stat:hover {
  transform: translateY(-5px);
}

.stat-icon {
  font-size: 40px;
  color: #ff5722;
  margin-right: 15px;
}

.stat-info {
  text-align: left;
}

.stat-label {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 5px;
}

.stat-number {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

.stats-section {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    gap: 15px;
  }

  .stat {
    width: 100%;
  }

  .stat-number {
    font-size: 1.5rem;
  }

  .stat-icon {
    font-size: 35px;
  }
}

.skill-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    cursor: default;
  }
}

.skill-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 0.6rem;
}

.skill-name,
.skill-description,
.skill-img {
  cursor: pointer;
}

.skill-name {
  font-weight: 600;
}

.skill-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review {
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.rating {
  margin-top: 5px;
}

.filled {
  color: gold;
}

.empty {
  color: lightgray;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    width: 100%;
  }
}

@media (max-width: 872px) {
  .left-section {
    width: 100%;
    position: relative;
  }
}
