@model Rendalicce.Infrastructure.Emails.Templates.NewChatMessageReceivedTemplateModel

<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Poruka u Chatu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F5F5F5; /* Svijetlosiva pozadina */
            padding: 20px;
            margin: 0;
            color: #333333; /* Boja teksta */
        }

        .container {
            background-color: #ffffff;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333333;
            font-size: 22px;
        }

        p {
            font-size: 16px;
            color: #666666;
        }

        .button-container {
            margin: 20px 0;
        }

        .chat-button {
            background-color: #FF5722; /* Primarna boja */
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            display: inline-block;
        }

        .chat-button:hover {
            background-color: #E64A19;
        }

        .message-content {
            background-color: #03A9F4; /* Akcentna boja */
            color: white;
            padding: 10px;
            margin: 20px 0;
            font-size: 14px;
            border-radius: 4px;
        }

        .footer {
            margin-top: 30px;
            font-size: 12px;
            color: #999999;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>Bok @Model.RecipientFirstName,</h2>
    <p>Primili ste novu poruku od <strong>@Model.SenderFullName</strong> u vašem chatu.</p>

    <div class="message-content">
        <p>@Model.MessageContent</p>
    </div>

    <div class="button-container">
        <a href="@Model.ChatLink" class="chat-button">Pogledaj Chat</a>
    </div>

    <div class="footer">
        <p>Ovo je automatski email. Molimo ne odgovarajte.</p>
    </div>
</div>
</body>
</html>